Demo.MVC/Service References/CustomerService/Demo.MVC.Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Demo.MVC.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Demo.MVC.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Customer_">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreditLimit" type="xs:decimal" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer_" nillable="true" type="tns:Customer_" />
  <xs:complexType name="ArrayOfCustomer_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer_" nillable="true" type="tns:Customer_" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer_" nillable="true" type="tns:ArrayOfCustomer_" />
</xs:schema>