Demo.MVC/Service References/CustomerService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Demo.MVC.Services" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Demo.EmailSender" />
  <xs:element name="AddCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Demo.MVC.Services" minOccurs="0" name="customer" nillable="true" type="q1:Customer_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCustomerResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCustomerWithEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Demo.MVC.Services" minOccurs="0" name="customer" nillable="true" type="q2:Customer_" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Demo.EmailSender" minOccurs="0" name="myEmail" nillable="true" type="q3:MyEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCustomerWithEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCustomerWithEmailResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Demo.MVC.Services" minOccurs="0" name="getCustomerResult" nillable="true" type="q4:Customer_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Demo.MVC.Services" minOccurs="0" name="getCustomersResult" nillable="true" type="q5:ArrayOfCustomer_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Demo.MVC.Services" minOccurs="0" name="customer" nillable="true" type="q6:Customer_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCustomerResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Demo.MVC.Services" minOccurs="0" name="customer" nillable="true" type="q7:Customer_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCustomerResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>